.cards {
  background: #fff; /* Set a white background */
  padding: 4rem 0;
  color: #333; /* Change text color to dark */
}

.cards__header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 36px;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Gap between cards */
  justify-content: center;
}

.cards__item {
  flex: 0 0 calc(50% - 20px); /* Two cards per row, adjust the gap and width as needed */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.cards__item:hover {
  transform: scale(1.05);
}

.cards__item__pic-wrap::after {
  content: none; /* Remove the content */
}

.cards__item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__item__info {
  background: #fff; /* Set a white background for card info */
  padding: 20px;
  text-align: center;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

/* Remove underlines and blue color for links */
.cards__item__link {
  text-decoration: none;
  color: inherit;
}
